name: CI/CD pipeline to Deploy to Tomcat

on:
  push:
    branches:
      - master

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: set-up jdk
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Maven validate
        run: mvn validate

      - name: Maven compile
        run: mvn compile

      - name: Maven test
        run: mvn test

      - name: Maven package
        run: mvn package

      - name: Sonar Code Quality
        run: |
          mvn clean verify sonar:sonar \
            -Dsonar.projectKey=train-ticket \
            -Dsonar.host.url="${{ secrets.SONAR_HOST }}" \
            -Dsonar.login="${{ secrets.SONAR_TOKEN }}"

      - name: Upload Artifact to Nexus
        run: |
          mvn deploy \
            -Dnexus.url=${{ secrets.NEXUS_URL }} \
            -Dnexus.username=${{ secrets.NEXUS_USERNAME }} \
            -Dnexus.password=${{ secrets.NEXUS_PASSWORD }}


      - name: Deploy to Tomcat
        run: |
          curl -v -u ${{ secrets.TOMCAT_USER }}:${{ secrets.TOMCAT_PASSWORD }} \
            -T target/TrainBook-1.0.0-SNAPSHOT.war \
            "http://${{ secrets.TOMCAT_HOST }}:8080/manager/text/deploy?path=/vcube140&update=true"
