name: Build and Deploy to Tomcat
on:
  push:
    branches:
      - master   # DEV / PROD deployment
      - develop  # TEST deployment
      - preprod  # PRE-PROD deployment
jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    environment: DEV
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - run: mvn clean package -DskipTests
      - name: Deploy to DEV Tomcat
        run: |
          curl -v -u ${{ secrets.TOMCAT_USER_DEV }}:${{ secrets.TOMCAT_PASSWORD_DEV }} \
          -T target/TrainBook-1.0.0-SNAPSHOT.war \
          "http://${{ secrets.TOMCAT_HOST_DEV }}:8080/manager/text/deploy?path=/TrainBook&update=true"

  deploy-test:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/develop'
    environment: TEST
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - run: mvn clean package -DskipTests
      - name: Deploy to TEST Tomcat
        run: |
          curl -v -u ${{ secrets.TOMCAT_USER_TEST }}:${{ secrets.TOMCAT_PASSWORD_TEST }} \
          -T target/TrainBook-1.0.0-SNAPSHOT.war \
          "http://${{ secrets.TOMCAT_HOST_TEST }}:8080/manager/text/deploy?path=/TrainBook&update=true"

  deploy-preprod:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/preprod'
    environment: PRE-PROD
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - run: mvn clean package -DskipTests
      - name: Deploy to PRE-PROD Tomcat
        run: |
          curl -v -u ${{ secrets.TOMCAT_USER_PRE_PROD }}:${{ secrets.TOMCAT_PASSWORD_PRE_PROD }} \
          -T target/TrainBook-1.0.0-SNAPSHOT.war \
          "http://${{ secrets.TOMCAT_HOST_PRE_PROD }}:8080/manager/text/deploy?path=/TrainBook&update=true"

  deploy-prod:
    runs-on: ubuntu-latest
    needs: [deploy-dev, deploy-test, deploy-preprod]
    if: github.ref == 'refs/heads/master'
    environment: PROD
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - run: mvn clean package -DskipTests
      - name: Deploy to PROD Tomcat
        run: |
          curl -v -u ${{ secrets.TOMCAT_USER_PROD }}:${{ secrets.TOMCAT_PASSWORD_PROD }} \
          -T target/TrainBook-1.0.0-SNAPSHOT.war \
          "http://${{ secrets.TOMCAT_HOST_PROD }}:8080/manager/text/deploy?path=/TrainBook&update=true"
