name: CI/CD pipeline to Deploy to Tomcat

on:
  push:
    branches:
      - master

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          server-id: nexus
          server-username: NEXUS_USERNAME
          server-password: NEXUS_PASSWORD
          settings-path: ${{ github.workspace }}

      # ---------- ADD SETTINGS.XML ----------
      - name: Create Maven settings.xml
        run: |
          cat <<EOF > $GITHUB_WORKSPACE/settings.xml
          <settings>
            <servers>
              <server>
                <id>nexus</id>
                <username>${env.NEXUS_USERNAME}</username>
                <password>${env.NEXUS_PASSWORD}</password>
              </server>
            </servers>

            <mirrors>
              <mirror>
                <id>central</id>
                <name>Nexus Mirror</name>
                <url>${env.NEXUS_URL}/repository/maven-public/</url>
                <mirrorOf>*</mirrorOf>
              </mirror>
            </mirrors>
          </settings>
          EOF

        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
          NEXUS_URL: ${{ secrets.NEXUS_URL }}

      - name: Maven Validate
        run: mvn validate --settings settings.xml

      - name: Maven Compile
        run: mvn compile --settings settings.xml

      - name: Maven Test
        run: mvn test --settings settings.xml

      - name: Maven Package
        run: mvn package --settings settings.xml

      # ---------- NEXUS DEPLOY ----------
      - name: Upload Artifact to Nexus
        run: |
          mvn deploy \
            --settings settings.xml \
            -DaltDeploymentRepository=nexus::default::${{ secrets.NEXUS_URL }}/repository/maven-snapshots/

      # ---------- TOMCAT DEPLOY ----------
      - name: Deploy to Tomcat
        run: |
          curl -v -u ${{ secrets.TOMCAT_USER }}:${{ secrets.TOMCAT_PASSWORD }} \
            -T target/TrainBook-1.0.0-SNAPSHOT.war \
            "http://${{ secrets.TOMCAT_HOST }}:8080/manager/text/deploy?path=/vcube140&update=true"

